.sidebar {
    width: 300px;
    min-width: 300px;
    background-color: blueviolet;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    height: 100vw;
}

.sidebar-content {
    position: fixed;
    width: inherit;
   
}


.sidebar .user {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 40px 30px;
    border-bottom: 1px solid #000;
}

.sidebar .links {
    margin-top: 80px;
    margin-left: 20px;
}


.sidebar .links a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}

.sidebar .links img {
    margin-right: 10px;
    filter: invert(100%);
}


.sidebar .links a.active {
    color: #555;
    border-radius: 20px 0 0 20px;
}

.sidebar .links .active img {
    filter: invert(40%)
}